.CourseDescription> h2{
  font-weight: bold;
}
.CourseDescription{
  text-align: start;
    width: 700px;

   max-width: 100%;
  margin: 20px auto;
}
.desc-course{
  width: 700px;
  max-width: 100%;
}
.CourseDescription-ul > li{
  margin: 0px 15px;
}
